<div class="name">Name:
    <input type="text" ng-model="product.name"/>
</div>
<div class="price">Price:
    <input type="number" ng-model="product.price"/>
</div>
<button ng-click="save()">Save</button>{{ product | json }}
<hr/>{{ hello  }}
<div ng-repeat="p in products" class="product">{{ p.name }} : {{ p._id }}</div>