extends layout

block scripts
  script(src="/libs/angular.min.js")
  script(src="/libs/angular-resource.min.js")
  script(src="/libs/angular-route.min.js")
  script(src="/app/app.module.js")
  script(src="/app/app.routes.js")
  script(src="/app/product/product.controller.js")
  script(src="/app/user/user.controller.js")
  script(src="/app/sidebar/sidebar.directive.js")

block content
  div(ng-app="app")
    ng-view