.name Name:
  input(type="text" ng-model="product.name")
.price Price:
  input(type="number" ng-model="product.price")
button(ng-click="save()") Save
br
{{ product | json }}
hr
{{ hello  }}
.product(ng-repeat="p in products") {{ p.name }} : {{ p._id }}
