.username UserName:
  input(type="text" ng-model="user.username")
.password Password:
  input(type="password" ng-model="user.password")
.email Email:
  input(type="text" ng-model="user.email")
button(ng-click="saveU()") Save
br
{{ user | json }}
hr
{{ hello  }}
.user(ng-repeat="p in users") {{ p.username }} : {{ p.password }} : {{ p.email }}