body {
  padding: 0;
  margin: 30px auto 0;
  width: 900px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

aside {
  float: left;
  width: 250px;
  margin-right: 30px;
}

.loginform {
  height: 200px;
  border: 1px solid #0d3349;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-left: 20px;
  display: block;
  border: 1px solid #2b81af;
  background-color: #00B7FF;
  line-height: 2em;
}

ul li a {
  color: #fff;
  font-size: 1.7em;
  text-decoration: none;
}