<aside id="sidebar">
    <div class="loginform">LOGIN FORM</div>
    <div sidebar="sidebar" type="user"></div>
</aside>
<div class="username">UserName:
    <input type="text" ng-model="user.username"/>
</div>
<div class="password">Password:
    <input type="password" ng-model="user.password"/>
</div>
<div class="email">Email:
    <input type="text" ng-model="user.email"/>
</div>
<button ng-click="saveU()">Save</button>{{ user | json }}
<hr/>{{ hello  }}
<div ng-repeat="p in users" class="user">{{ p.username }} : {{ p.password }} : {{ p.email }}</div>